*, body {
  background-color: $background-color;
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.branding {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

.lilli {
  @include breakpoint(small) {
    margin-left: 0.5rem;
  }
}

.book-image {
  margin-top: 17.5rem;
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
}

.book-description {
  margin-top: 3rem;
}