*, body {
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.intro {
  border-bottom: 0.125rem  solid darken($background-color, 5%);
  background-color: $background-color;
}

.branding {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

.lilli {
  @include dead-center(400px, 240px);
  @include breakpoint(small) {
    @include dead-center(300px, 160px);
  }
}

.book {
  background-color: darken($white, 10%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.book-image {
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
}

.book-description {
  margin-top: 0rem;
}

.horizon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
  display: block;
}

.author.bio {
  border-top: 0.125rem  solid darken($background-color, 5%);
  background-color: darken($background-color, 0%);
  padding: 2rem;
}