.button {
  font-family: $highlight-font;
}

.button-buy {
  @extend .button;
  display: inline-block;
  background-color: lighten($branding-color, 5%);
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  color: $background-color;
  &:hover {
    background-color: lighten($branding-color, 5%);
    color: $white;
  }  
}

.button.buy.nav {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: $highlight-font;
  color: $background-color;
  border-bottom: none;
  background-color: lighten($branding-color, 0%);
  font-weight: $light-text;
  padding: 0.5rem 1.25rem;
  &:hover {
    color: $white;
    background-color: lighten($branding-color, 5%);
  }
}
