.top-bar {
  height: 4rem;
  background-color: darken($background-color, 0%);
  li {
    background-color: darken($background-color, 0%)
  }
}

.branding-nav {
  background-color: darken($background-color, 0%);
  img {
    height: 2rem;
    background-color: darken($background-color, 0%);
    margin: 1rem 1.5rem;
  }
}

.top-bar-section {
  background-color: darken($background-color, 2%);
  ul {
    background: darken($background-color, 0%);
    li {
      margin-right: 1.25rem;
    }
  }
  li.button.buy.nav {
    background: darken($background-color, 0%);
    color: $branding-color;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: $highlight-font;
    font-weight: $light-text;
    padding: 1.25rem 1.25rem;
    &:hover {
      background: darken($background-color, 0%);
    }
  }
  a.button.about.nav {
    @extend li.button.buy.nav;
    background: $background-color;
    padding: 1rem;
    &:hover {
      background: $background-color;
    }
  }
  li.name .branding-nav > a.branding-image {
    background: $background-color;
    &:hover {
      background: $background-color;
    }
  }
}

