h1 {
  font-family: $body-font;
  color: $branding-color;
  font-size: 6rem;
  line-height: 6rem;
}

.text-highlight {
  font-size: 2rem;
}

p {
  font-family: $body-font;
  font-size: 1.25rem;
  line-height: 2.25rem;
}