<div class="author bio">
  <div class="row">
    <div class="small-12 medium-4 columns left">
      <p>
        We hope that children like Lilli, who have wonderful, creative, spunky, sparkly minds behind their hearing losses will relate to this story and enjoy reading about someone just like themselves! 
      </p>     
    </div>
    <div class="small-12 medium-4 columns right">
      <a href="mailto:mariondrew@gmail.com,lydiao@mweb.co.za">
        <p>Contact the Authors</p>
      </a>
    </div>
  </div>
</div>