<div class="author bio">
  <div class="row">
    <div class="small-12 medium-6 columns left">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui non earum eius ex, quibusdam! Atque minus, consequatur cupiditate animi non veritatis, cumque, corrupti eius reiciendis inventore voluptatem, harum sint. Minima quibusdam 
      </p>      
    </div>
    <div class="small-12 medium-3 columns">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">.99</li>
          <li class="description">An awesome description</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
    </div>
  </div>
</div>