 <div class="book clearfix">
 <div class="small-10 columns small-centered">
      <div class="book-image small-12 medium-3 columns">
      <%= image_tag("images/Book.png") %>
      <a href="#" class="button-buy expand">Buy the Book</a>
      <p>
        We hope that children like Lilli, who have wonderful, creative, spunky, sparkly minds behind their hearing losses will relate to this story and enjoy reading about someone just like themselves! 
      </p>
    </div>
    <div class="book-text medium-8 columns">
      <p>
        <span class="text-highlight">Pretty girls in pink cannot play football right? Pretty girls in pink who wear hearing aids cannot possibly play football right? Wrong! Lilli-the-Pink can. </span>
      </p>
      <p>
        One Sunday afternoon Lilli goes to Patterson Park with her father and her new baby Maggie-Rose. There she meets the big football skabanga boys. They think that all children who wear hearing aids are stupid and can’t do anything. But Lilli is a gitchy-gumee smart young lady, who is not at all afraid of them. Lilli saves her baby sister from being squashed by their football. Then she shows them a thing or two about how to score a goal, and she becomes the best, BEST football striker ever in the Patterson Pinkers Football Team. How about that! 
      </p>
    </div>
</div>
</div>

