<div class="fixed">
  <nav class="top-bar">

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a class="button about nav" href="#about">About</a>        
      </li>
      <li class="show-for-medium-up">
        <a class="button buy nav" href="http://www.amazon.com/Lilli-Pink-Football-Skabangas-Marion-ebook/dp/B00J6BB4A4">Buy the Book</a>
      </li>
    </ul>

    <ul class="left">
      <li class="name">      
        <div class="branding-nav">
          <a class="branding-image" href="/">
            <img src="/images/branding.png" alt="branding">          
          </a>
        </div>        
      </li>
    </ul>
  </section>
</nav>
</div>