<nav class="top-bar">

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a class="button buy nav" href="#">Buy the Book</a>
      </li>
      <li class="divider show-for-small"></li>
    </ul>

<!--     <ul class="left">
      <li class="name">
        <div class="branding-nav">
          <i class="ion-home"></i> 
        </div>
      </li>
    </ul> -->
  </section>
</nav>