---
title: Lilli the Pink
---

<div class="row"> 
  <div class="lilli small-5 small-centered medium-3 columns end">
    <%= image_tag("images/Lilli.png") %>         
  </div>  
</div>
  
  <div class="branding small-8 columns small-centered end">
    <%= image_tag("images/branding.png") %> 
  </div>

  <div class="book-description small-12 medium-7 medium-push-5 columns">
    <p>
      <span class="text-highlight">Pretty girls in pink cannot play football right?</span><br> Pretty girls in pink who wear hearing aids cannot possibly play football right? Wrong! Lilli-the-Pink can. 
    </p>
    <p>
      One Sunday afternoon Lilli goes to Patterson Park with her father and her new baby Maggie-Rose. There she meets the big football skabanga boys. They think that all children who wear hearing aids are stupid and can’t do anything. But Lilli is a gitchy-gumee smart young lady, who is not at all afraid of them. Lilli saves her baby sister from being squashed by their football. Then she shows them a thing or two about how to score a goal, and she becomes the best, BEST football striker ever in the Patterson Pinkers Football Team. How about that! 
    </p>
    <p>
      Lilli the Pink is written to try and help to meet the need for children’s books featuring characters who are disabled in some way. There just doesn’t seem to be much literature of this sort for disabled children to relate to. Lilli has a severe hearing loss, but she certainly doesn’t let it get in her way! Contrary to much mainstream thinking, children with hearing losses are just that: children first, who then happen to have a hearing loss of one sort or another. 
    </p>
    <p>
      We hope that children like Lilli, who have wonderful, creative, spunky, sparkly minds behind their hearing losses will relate to this story and enjoy reading about someone just like themselves! 
    </p>
  </div>

  <div class="book-image small-12 medium-5 medium-pull-7 columns">
    <%= image_tag("images/Book.png") %>
    <a href="#" class="small button buy">Buy the Book</a>
  </div>