---
title: Lilli the Pink
---

<%= partial "navigation" %>
<div class="intro">
    <div class="row">
    <div id="splash" class="branding">
      <div class="horizon">
        <div class="book-description">
          <div class="lilli">
            <%= image_tag ("images/branding-cons.png"), :class => 'lilli' %>         
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
  <%= partial "book" %>
  <%= partial "author" %>
