/* ============================ 
	Colors
============================ */

$gray: hsla(0,0,91%,1);
$white: hsla(0,0,100%,1);
$black: hsla(0,0,0%,1);
$background-color: hsla(219,97%,77%,1);
$branding-color: hsla(336,76%,60%,1);
$branding-darker: hsla(350,67%,25%,1);

/* ============================ 
	Typography
============================ */

$body-font: "Arimo", Helvetica, Arial, cursive;
$text-font: "minion-pro", Times, serif;
$highlight-font: 'Gloria Hallelujah', cursive;

$heavy-text:900;
$medium-text:400;
$light-text:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */

$border-thick: 0.125rem $black solid;
$border-thin:  0.125rem $gray solid;

/* ============================ 
	Backgrounds
============================ */